{{ $site := .Site }}
<div data-budgie-component="get-page">
	{{ partial "get/banner.html" (dict "site" $site) }}
	<div data-budgie-component="get-list">
		<h1>Try Budgie on other operating systems!</h1>
		{{ range $name, $item := .Site.Data.get.os }}
			<div data-budgie-component="get-list-item">
				<div data-budgie-component="get-list-item-info">
					<a href="{{ $item.URL }}">{{ $name }}</a>
					<span>{{ $item.Description }}</span>
				</div>
				<div data-budgie-component="get-list-item-download">
					<a data-solbit="button" data-solbit-size="large" href="{{ $item.URL }}">Download</a>
					{{ if eq $site.Params.budgieversion $item.BudgieVersion }} <!-- Latest Budgie Release -->
						<b data-budgie-component="version-latest">Latest: {{ $item.BudgieVersion }}</b>
					{{ else }} <!-- Not Latest -->
						<b data-budgie-component="version-outdated">Outdated: {{ $item.BudgieVersion }}</b>
					{{ end }}
				</div>
			</div>
		{{ end }}
	</div>
</div>