[submodule "solbit"]
	path = solbit
	url = https://github.com/getsolus/solbit.git
[submodule "budgie-site-styling"]
	path = budgie-site-styling
	url = https://github.com/getsolus/budgie-site-styling.git
