{{ $blogPosts := .Paginator.Pages }}

<!DOCTYPE html>
<html>
	{{ partial "metadata.html" . }}
	<body>
		{{ partial "sidepane.html" .Site }}
		<div data-solbit="main">
			{{ partial "header.html" . }}
			<div data-solbit="content">
				<div data-budgie-component="list" data-budgie-component-type="blog">
						{{ range $blog := $blogPosts }}
							<div data-budgie-component="list-item" data-budgie-component-type="blog">
								{{ partial "blog/info.html" (dict "blog" . "islink" "true") }}
								{{ $blog.Summary }}
							</div>
						{{ end }}
						{{ partial "blog/pagination.html" (dict "paginator" .Paginator ) }}
				</div>
			</div>
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>