<!DOCTYPE html>
<html>
	{{ partial "metadata.html" . }}
	<body>
		{{ partial "sidepane.html" .Site }}
		<div data-solbit="main">
			{{ partial "header.html" . }}
			{{ if eq .Title "Home" }}
				{{ partial "home/page.html" . }}
			{{ else if eq .Title "Get" }}
				{{ partial "get/page.html" . }}
			{{ else if eq .Title "Showcase" }}
				{{ partial "showcase/page.html" . }}
			{{ else }}
				<div data-solbit="content">
					{{ .Content }}
				</div>
			{{ end }}
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>