<div data-budgie-component="simplicity-banner">
	<span>
		<h1>Focused on simplicity and elegance. Designed with the modern user in mind.</h1>
		<h2>Latest Release:  {{ .Site.Params.budgieversion }}</h2>
		<a href="{{ .Site.BaseURL }}/about">Learn More</a>
	</span>
</div>
<div data-solbit="content">
	<div data-budgie-component="blog-list">
		<h3>Latest News</h3>
		{{ $filteredPosts := (where .Site.Pages ".Params.categories" "!=" nil)}}
		{{ $blogPosts := first 5  $filteredPosts }}
		{{ range $blog := $filteredPosts }}
			{{ partial "blog/info.html" $blog }}
		{{ end }}
	</div>
</div>