{{ $baseurl := .baseurl }}
{{ $list := .list }}
<div data-budgie-component="showcase-list">
	{{ range $name, $item := $list }}
		{{ $typename := replace (lower $name) " " "-" }}
		<div data-budgie-component="showcase-item">
			{{ if eq $item.NoIcon nil }}
				<div data-budgie-icon="{{ $typename }}"></div>
			{{ end }}
			<div data-budgie-component="showcase-item-info">
				<b>{{ $name }}</b>
				<p>{{ $item.Description }}</p>
			</div>
			<div data-budgie-component="showcase-item-links">
				<a href="{{ $item.URL }}">Learn More</a>
			</div>
		</div>
	{{ end }}
</div>