{{ $site := .Site }}
<div data-solbit="content">
	<div data-budgie-component="roadmap">
		<h1>Roadmap</h1>
		<h2>The roadmap below is subject to change and not indicative of all the changes that may occur in the respective release.</h2>
		<div data-budgie-component="roadmap-items">
			{{ range $version, $info := .Site.Data.budgie.roadmap }}
				<div data-budgie-component="roadmap-item">
					<div data-budgie-component="roadmap-header">
						{{ $colorNum := index (shuffle (seq 1 4)) 1 }}
						<div data-budgie-component="roadmap-circle" data-budgie-colornum="{{ $colorNum }}">{{ $version }}</div>
						<b>Budgie {{ $version }}</b>
						<section>{{ $info.Timeline }}</section>
					</div>
					{{ $filename := printf "content/roadmap/%s.txt" $version }}
					<section>
						{{ readFile $filename | markdownify | safeHTML }}
					</section>
				</div>
			{{ end }}
		</div>
	</div>
</div>